html{
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body{
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 1.1rem;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    background-color: #00152E;
    color: #ffffff;
}
