@mixin hyperlink {
    &{
        text-decoration: none;
        color: #ffffff;
        opacity: 0.3;
        transition: opacity 500ms ease-in-out;
    }
    &:hover{
        opacity: 1;
        color: #ffffff;
    }
 }
 @mixin active {
     opacity: 1;
     border-bottom: 0.5px solid #ffffff;
     padding-bottom: 0.5rem;
     width: auto;
 }
 @mixin text ($size: 1.3rem, $weight:300){
     color: aliceblue;
     font-family: 'Montserrat', sans-serif;
     font-size: $size;
     font-weight: $weight;
 }