// mixin----------------------------------------
@import './mixin';
// html-----------------------------------------
@import './globals';
// nav bar ---------------------------------------
@import './navbar';

// main-content-------------------------------------------
main{
    width: 100%;
    margin: 0;
}
.main {
    .main-content {
        margin: 14% 0;

        img {
            width: 120%;
        }
        .main-content__text {
            h1 {
                @include text(4.6rem, 600);
                margin: 0;
            }

            p {
                @include text(1.2rem);
            }

            button {
                height: 4rem;
                margin-top: 20px;
                border: none;
                border-radius: 10px;
                a {
                    @include text(1.5rem, 600);
                    text-decoration: none;
                    color: #00152E;
                    padding: 1.27em;
                }
            }
        }
    }

    .main-contact {
        .main-contact__social {
            a {
                @include hyperlink();
                @include text(1.3rem, 300);

                .space {
                    margin: 0 3rem;
                }
            }
        }

        .email {
            @include text(1.3rem, 300);
            margin-bottom: 0;
            text-align: right;
            letter-spacing: 1.3px;
        }
    }

    .scroll-down {
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            @include hyperlink()
        }
    }
}

// about--------------------------------------------
#about {

    .about__me,
    .about__story,
    .about__skills,
    .about__education {
        margin: 10% 0;

        p {
            @include text(1.3rem);
            line-height: 1.9;
        }
    }

    .about__me {
        h2 {
            @include text(5rem, 600);
            font-family: Robot;
        }

        img {
            border-radius: 10px;
            width: 100%;
        }
    }
}
// media query ----------------------------------------
@media all and (max-width: 550px){
    nav{
        display: none;
        a{
            @include text(0.65rem)
        }
    }
    .main {
        .main-content {
            .main-content__text {
                h1 {
                    @include text(2.2rem, 600);
                }
    
                p {
                    @include text(0.6rem);
                }
    
                button {
                    height: 2rem;
                    margin-top: 10px;
                    a {
                        @include text(0.75rem, 600);
                        text-decoration: none;
                        color: #00152E;
                        padding: 1.27em;
                    }
                }
            }
        }
    
        .main-contact {
            .main-contact__social {
                a {
                    @include hyperlink();
                    @include text(0.65rem, 300);
    
                    .space {
                        margin: 0 0.5rem;
                    }
                }
            }
    
            .email {
                @include text(0.65rem, 300);
                margin-bottom: 0;
                text-align: right;
            }
        }
        .scroll-down {
            display: none;
        }
    }
    #about {

        .about__me,
        .about__story,
        .about__skills,
        .about__education {
            margin: 10% 0;
    
            p {
                @include text(0.65rem);
                line-height: 1.9;
            }
        }
    
        .about__me {
            h2 {
                @include text(2rem, 600);
                font-family: Robot;
            }
    
            img {
                border-radius: 10px;
                width: 100%;
            }
        }
    }

    
}